# ========== Android Studio ==========
*.iml
.idea/
*.iws

# ========== Gradle ==========
.gradle/
build/
.externalNativeBuild/
.cxx/

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# ========== Konfiguracja lokalna ==========
local.properties
/local.properties

# ========== Inne ==========
.DS_Store
Thumbs.db
captures/
*.log
