<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Definiowanie wymaganych uprawnień aplikacji -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laboratorium_and"
        tools:targetApi="31">

        <!-- Definiowanie głównych aktywności aplikacji -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentFormActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".GradesActivity"
            android:parentActivityName=".StudentFormActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".DatabaseActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".AddPhoneActivity"
            android:parentActivityName=".DatabaseActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".EditPhoneActivity"
            android:parentActivityName=".DatabaseActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".FileDownloadActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".DrawingActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".BrowseActivity"
            android:parentActivityName=".DrawingActivity"/>

        <activity
            android:name=".ViewActivity"
            android:parentActivityName=".BrowseActivity"/>

        <!-- Definiowanie usługi pobierania plików -->
        <service
            android:name=".DownloadService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

    </application>

</manifest>